.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    /* display: flex; */
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    /* background-color: lightgray; */
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;

}

.sidebar-link:hover{
    background-color: rgb(225, 223, 223);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;

}
.sidebar-link div{
    font-family: Roboti,Arial;
    font-size: 10px;

}